
<div class="card-group">

  <!-- dupliquer card autant de foi que d'utilisateurs -->
  <!-- <div class="card" *ngFor="let user of users">// -->
    <img src="..." class="card-img-top" alt="...">

    <div class="card-body">

      <h5 class="card-title">name user Json</h5>
      <p class="card-text">detail user restant Json</p>
      
      <!-- Lien vers page Home -->
      <a routerLink="users-list"><p class="card-text"><small class="text-muted">Retour liste</small></p></a>

    </div>
  <!-- </div> -->
</div>
