<div class="container">
  <h2 >Nos utilisateurs</h2>

  <div class="card mb-3 info-card" *ngFor="let item of users">
    <!-- Lien après le ngFor pour récupérer le "username" -->
    <a routerLink="/user-details/:{{ item.login.username }}">
      <div class="row g-0 info">
        <div class="col-md-4">
          <!-- Balise figure pour placer une image -->
          <figure class="vignette">
            <!-- Afficher la vignette de l'utilisateur -->
            <img src="{{ item.picture.thumbnail }}" class="img-fluid rounded-start" alt="petite photo">
          </figure>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <!-- Afficher le nom et le prénom de l'utilisateur -->
            <h5 class="card-title">{{ item.name.title }} {{ item.name.first }} {{ item.name.last | uppercase }}</h5>
            <!-- Afficher l'email' de l'utilisateur -->
            <p class="card-text">{{ item.email }}</p>
          </div>
        </div>
        <div class="col-md-2 logo">
          <!-- Balise figure pour placer une image -->
          <figure>
            <!-- Afficher l'icône selon l'âge de l'utilisateur grâce à la fonction getImageByAge(user.dob.age) -->
            <img src="../../assets/icons/{{ getImageByAge(item.dob.age) }}" alt="icône">
          </figure>

        </div>
      </div>
    </a>
  </div>
</div>

<!-- <div class="container">
    <h2 >{{ title }}</h2>

    <button class="btn btn-primary">
      afficher nouveau
    </button>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let hotel of hotels">
        <div class="card h-100">
          <img [src]="hotel.imageUrl" [title]="hotel.nom" class="card-img-top" [alt]="hotel.nom">
          <div class="card-body">
            <h5 class="card-title">{{ hotel.nom }}</h5>

            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

            <span class="badge badge-pill badge-info">New</span>



          </div>
        </div>
      </div>
    </div>

  </div> -->
