
<!-- Lien vers page Detail -->
<!-- <a routerLink="user-details"/ :username> -->

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">

  <!-- dupliquer card autant de foi que d'utilisateurs -->
  <!-- <div class="card" *ngFor="let user of users">// -->
    <div class="col-md-4">
      <img [src]="" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">info Json</h5>
         
        <p class="card-text">age user Json</p>
        
       <p class="card-text"><small class="text-muted">mail user Json</small></p>>
        
       <!-- <h6 *ngIf="userAge >" -->

      </div>
    </div>
  </div>
</div>
<!-- </a> -->
