<a routerLink="user-details"/ :username>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">info Json</h5>
        <p class="card-text">info Json</p>
    
      </div>
    </div>
  </div>ter
</div>
</a>

<!-- <div class="container">
    <h2 >{{ title }}</h2>

    <button class="btn btn-primary">
      afficher nouveau
    </button>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let hotel of hotels">
        <div class="card h-100">
          <img [src]="hotel.imageUrl" [title]="hotel.nom" class="card-img-top" [alt]="hotel.nom">
          <div class="card-body">
            <h5 class="card-title">{{ hotel.nom }}</h5>

            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

            <span class="badge badge-pill badge-info">New</span>



          </div>
        </div>
      </div>
    </div>

  </div> -->
